<%- include('header') -%>

    <body>
        <div class="box" id="heading">
            <h1>
                <%= listTitle %>
            </h1>

        </div>
        <div class="box">
            <ul>
                <% if (itemEls) { %>
                    <% itemEls.map(item=> { %>
                        <form action="/delete" method="post">
                            <li class="item">
                                <input type="checkbox" value="<%= item._id %>" name="checkbox"
                                    onchange="this.form.submit()">
                                <p>
                                    <%= item.itemName %>
                                </p>
                            </li>

                        </form>

                        <% }) %>
                            <% } %>
            </ul>

            <form class="item" action="/" method="post">
                <input type="text" name="newItemInput" id="newItemInput" autofocus placeholder="New item"
                    autocomplete="off">
                <button type="submit" name="list" value=<%=listTitle %> >+</button>
            </form>
        </div>

        <%- include('footer') -%>